Clarify MUSTs

From Rob Sayre:

~~~
I'm not sure how violations of these requirements would result in poor interoperability:

 Clients which import external keys TLS MUST NOT use these keys for
 any other purpose. Moreover, each external PSK MUST be associated
 with at most one hash function.

These seem like aspirational security goals. It would be better to describe the consequences of violating these conditions.
~~~

We should note the latter is a requirement from Section 4.2.11 of RFC8446. Let's also fix the typo "import external keys *for* TLS..."

Closed by #28.